.myContainer {
  padding-left: 64px !important;
}
html, body, #app, .el-container, #app > div {
  min-height: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.el-footer {
  background-color: #B3C0D1 !important;
  color: #333 !important;
  z-index: 2 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 60px !important;
  min-height: 60px !important;
  max-height: 60px !important;
}

.el-main {
  background-color: #E9EEF3 !important;
  padding: 65px 20px 20px !important;
  z-index: 1 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  margin-bottom: 0px !important;
  overflow: inherit !important;
}
body > .el-container {
  margin-bottom: 40px !important;
  min-height: 100% !important;
  height: 100% !important;
}
